.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
auto.test.shiny.app.Rcheck/
auto.test.shiny.app*.tar.gz
auto.test.shiny.app*.tgz
automated-testing-ice-cream.Rcheck/
automated-testing-ice-cream*.tar.gz
automated-testing-ice-cream*.tgz
auto.test.shiny.app-main/*
renv/*
tests/testthat/_snaps/*
tests/ice-cream-app-test-demo-current/*
shinytest-logs/*
.DS_Store
trash/*
*.dcf